# Python related
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/

# IDE files
.idea/
.vscode/

# Compiled output
*.so
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Django-specific
*/migrations/*.py
*/migrations/*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Docker-specific
docker-compose.override.yml
.dockerignore
*.swp

# Testing and coverage
.coverage
htmlcov/
*.cover
.coverage.*
.pytest_cache/

# Fixture files
*.json

# Misc
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
*.rar
